.popup-modal {
  position: absolute;
  z-index: 100;
  width: 90%;
  height: 50%;
  left: 5%;
  top: 5%;
  background-color: #fff;
  overflow: scroll;
  border: gray;
  border-style: solid;
  border-radius: 8px;
}

.top-modal {
  position: absolute;
  z-index: 2;
  width: 80%;
  height: 80%;
  left: 5%;
  top: 5%;
  background-color: #fff;
  border: gray;
  border-style: solid;
  border-radius: 8px;
}

.index {
  background-image: url('/img/woodBackground.jpg');
}

.whiteboard {
  background-color: #FFFFFF;
  padding: 0px 20px 20px;
}

h3, b {
  font-family: 'Marker Felt', 'Comic Sans' sans-serif;
}

.section-title {
  font-size: 16px;
}

.sixty-percent {
  width: 60%;
  height: auto;
  vertical-align: bottom;
}

.thirtynine-percent {
  width: 39%;
  height: auto;
  vertical-align: top;
}

.full-width {
  width: 74%;
}

.unit-title {
  margin-bottom: 20px;
  color: #8D663A;
}

.sticky-modal-header {
  padding: 10px 10px 0px;
}

.header {
  margin: 20px;
}

#logo {

  padding: 5px;
  transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  /* IE 9 */
  -webkit-transform: rotate(7deg);
  /* Opera, Chrome, and Safari */
}

.sticky {
  background: #ffc;
  height: 250px;
  width: 250px;
  margin: 10px;
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  /* Firefox */
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  /* Safari+Chrome */
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  /* Opera */
}

.stack div {
  margin-top: 10px;
  cursor: pointer;
}

.stacked-sticky {
  position: absolute;
  background: #ffc;
  height: 200px;
  width: 200px;
  margin: 10px;
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  /* Firefox */
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  /* Safari+Chrome */
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  /* Opera */
}

.rotate-0 {
  z-index: 1;
}

.rotate-1 {
  transform:rotate(7deg);
  -ms-transform:rotate(7deg);
  -webkit-transform:rotate(7deg);
}

.rotate-2 {
  transform:rotate(-7deg);
  -ms-transform:rotate(-7deg);
  -webkit-transform:rotate(-7deg);
}

.rotate-3 {
  transform:rotate(14deg);
  -ms-transform:rotate(14deg);
  -webkit-transform:rotate(14deg);
}

.rotate-4 {
  transform:rotate(-14deg);
  -ms-transform:rotate(-14deg);
  -webkit-transform:rotate(-14deg);
}

.rotate-5 {
  transform:rotate(21deg);
  -ms-transform:rotate(21deg);
  -webkit-transform:rotate(21deg);
}

.rotate-6 {
  transform:rotate(-21deg);
  -ms-transform:rotate(-21deg);
  -webkit-transform:rotate(-21deg);
}

.rotate-7 {
  transform:rotate(28deg);
  -ms-transform:rotate(28deg);
  -webkit-transform:rotate(28deg);
}

.rotate-8 {
  transform:rotate(-28deg);
  -ms-transform:rotate(-28deg);
  -webkit-transform:rotate(-28deg);
}

.rotate-9 {
  transform:rotate(35deg);
  -ms-transform:rotate(35deg);
  -webkit-transform:rotate(35deg);
}

.rotate-10 {
  transform:rotate(-35deg);
  -ms-transform:rotate(-35deg);
  -webkit-transform:rotate(-35deg);
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.inspire{
  background-color: #CDEFFF;
}

.choose-content, .standard-drop {
  background-color: #DE6A10;
  color: #fff;
}

.btn.choose-content:hover, .btn.standard-drop:hover,  {
  background-color: #F29A4E;
}
/* sections */

.goals-knowledgeskill {
  padding: 10px 20px 20px;
}








