.popup-modal {
  position: absolute;
  z-index: 1;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  background-color: #fff;
}

.index {
  background-image: url('/img/woodBackground.jpg');
}

.whiteboard {
  background-color: #FFFFFF;
  padding: 10px;
}

h3, b {
  font-family: 'Marker Felt', 'Comic Sans' sans-serif;
}

.sticky-modal-header {
  width: 100%;
  display: inline-block;
}

.section-title {
  font-size: 16px;
}

.header {
  margin: 10px;
}

#logo {
  margin-top: 15px;
  margin-left: -10px;
  padding: 5px;
  transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  /* IE 9 */
  -webkit-transform: rotate(7deg);
  /* Opera, Chrome, and Safari */
}

.sticky {
  background: #ffc;
  height: 250px;
  width: 250px;
  margin: 10px;
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  /* Firefox */
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  /* Safari+Chrome */
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  /* Opera */
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}
/* sections */

.goals-knowledgeskill {
  padding: 20px;
}
