<div class="fixed-modal paper-modal paper">
  <div class="close glyphicon glyphicon-remove cursor-pointer" {{action 'closeModal' 'popup-modal'}}></div>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="/img/robmazed.png" alt="robotmaze" type="image/png">
        <div class="carousel-caption">
          <a href="http://numberwarrior.wordpress.com/2014/04/25/robot-maze-puzzle/" target="_blank">Robot Maze puzzle by Jason Dyer</a>
        </div>
      </div>
      <div class="item">
        <img src="/img/busStop.png" alt="busstop" type="image/png">
       
        <div class="carousel-caption">
          <a href=" http://educore.ascd.org/Resource/FormativeAssessment/view.aspx?guid=f9419a1a-7a5a-4727-8382-0e7bb3915d4e&tab=1" target="_blank">Distance v. Time Graphs by EduCore</a>
        </div>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>