<div class="fixed-modal paper-modal paper">
  <div class="close glyphicon glyphicon-remove cursor-pointer" {{action 'closeModal' 'popup-modal'}}></div>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="/img/exitslips" alt="exitslips">
        <div class="carousel-caption">
           <a href="http://www.aac.ab.ca/projects-grants/high-school-mathematics/#FormativeAssessmentProvidingInformationtoTeachersvideoandresources-2" target="_blank">Exit Slips by Alberta Assessment Consortium</a>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>