<div class="popup-modal">
	<div class="sticky-modal-header">
		<div>
			<b>Section Title</b><br />
 			<span><a href="home-route"> Section Question <img src="/img/videocamera.png" height="20"></a></span>
 		</div>
 		<div>
 			<button type="button" class="btn btn-default">Inspire Me <img src="/img/starperson.png" height="20"></button>
		</div>
		<div>
			<span class="glyphicon glyphicon-remove cursor-pointer" {{action 'closeModal'}}></span>
 		</div>
 	</div>
  <div class="goals-knowledgeskill">
    {{#each}}
      {{view "editsticky" contentBinding="this"}}
    {{/each}}
  </div>
</div>