<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 25 March 2009), see www.w3.org" />

  <title>StickyUnit</title>
</head>

<body>
  <div class="container-fluid index">
    <div class="header">
      <div class="row">

       <ul class="list-inline">
        <li><h1>Unit Title</h1></li>
        <li>
          <ul class="list-unstyled">
            <li>
              <button type="button" class="btn btn-default btn-block">Choose
              Standards</button>
            </li>
            <!-- put more lis here -->
          </ul>
        </li>
        <li class="pull-right">
          <a href="home-route"><img id="logo" src="/img/StickyUnitLogo.png" height="80" /></a>
        </li>
       </ul>

{{!--
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-8">
              <div class="dropdown">
                <button class="btn btn-default btn-block dropdown-toggle" type="button"
                id="dropdownMenu1" data-toggle="dropdown">Cluster Title </button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <button type="button" class="btn btn-default btn-block">Choose
              Practices</button>
            </div>

            <div class="col-md-8">
              <div class="dropdown">
                <button class="btn btn-default btn-block dropdown-toggle" type="button"
                id="dropdownMenu1" data-toggle="dropdown">Practice Title </button>
              </div>
            </div>
          </div>
        </div>

        <div id="logo" class="col-md-3">
          <a href="home-route"><img src="/img/StickyUnitLogo.png" height="80" /></a>
        </div>
--}}
      </div>
    </div>

    <div class="whiteboard">
      <!-- GOALS ROW -->

      <div class="row">
        <div class="col-md-12 heading">
          <h3>GOALS</h3>
        </div>

        <div class="col-md-4">
          <h5>Knowledge and Skills</h5><br />
          What are Knowledge and Skills? <span><a href="home-route"><img src=
          "/img/videocamera.png" height="20" /></a></span>

          <div class="sticky">
            {{#link-to "goals-knowledgeskill"}} goals-knowledgeskill {{/link-to}}
          </div>
        </div>

        <div class="col-md-4">
          <h5>Enduring Understandings</h5><br />
          What are Enduring Understandings? <span><a href="home-route"><img src=
          "/img/videocamera.png" height="20" /></a></span>

          <div class="sticky"></div>
        </div>

        <div class="col-md-4">
          <h5>Big Idea</h5><br />
          What is a Big Idea? <span><a href="home-route"><img src="/img/videocamera.png"
          height="20" /></a></span>

          <div class="sticky"></div>
        </div>
      </div><!-- EVIDENCE ROW -->

      <div class="row">
        <div class="col-md-12 heading">
          <h3>EVIDENCE</h3>
        </div>

        <div class="col-md-4">
          <h5>Evidence of Knowledge and Skills</h5><br />
          How do I create this evidence? <span><a href="home-route"><img src=
          "/img/videocamera.png" height="20" /></a></span>

          <div class="sticky"></div>
        </div>

        <div class="col-md-4">
          <h5>Evidence of Understandings</h5><br />
          How do I create this evidence? <span><a href="home-route"><img src=
          "/img/videocamera.png" height="20" /></a></span>

          <div class="sticky"></div>
        </div>

        <div class="col-md-4">
          <h5>Evidence of Big Idea</h5><br />
          How do I create this evidence? <span><a href="home-route"><img src=
          "/img/videocamera.png" height="20" /></a></span>

          <div class="sticky"></div>
        </div>
      </div><!-- ASSESSMENTS ROW -->

      <div class="row">
        <div class="col-md-12 heading">
          <h3>ASSESSMENTS</h3>
        </div>

        <div class="col-md-4">
          <h5>Performance Tasks</h5><br />
          What are performance tasks? <span><a href="home-route"><img src=
          "/img/videocamera.png" height="20" /></a></span>

          <div class="sticky"></div>
        </div>

        <div class="col-md-4">
          <h5>Academic Prompts</h5><br />
          What are academic prompts? <span><a href="home-route"><img src=
          "/img/videocamera.png" height="20" /></a></span>

          <div class="sticky"></div>
        </div>

        <div class="col-md-4">
          <h5>Quizzes and Tests</h5><br />
          What are quizzes/tests? <span><a href="home-route"><img src=
          "/img/videocamera.png" height="20" /></a></span>

          <div class="sticky"></div>
        </div>
      </div><!-- LEARNING ACTIVITIES ROW -->

      <div class="row">
        <div class="col-md-12 heading">
          <h3>LEARNING ACTIVITIES</h3>
        </div>

        <div class="col-md-12">
          How do I create learning activities? <span><a href="home-route"><img src=
          "/img/videocamera.png" height="20" /></a></span>

          <div class="sticky"></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
