<div class="top-modal">
  <ul>
    <li class="pull-right">
        <span class="glyphicon glyphicon-remove cursor-pointer" {{action 'closeModal'}}></span>
    </li>
  </ul>
  <iframe src="//player.vimeo.com/video/"+VIDEO_ID width="WIDTH" height="HEIGHT" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

